@CHARSET "UTF-8";

table td > * {
    width:100%;
}

.listasCirculo ul li {
    margin-left:15px;
    list-style-type: disc !important;
}

.justificado {
    width: 100%;
    margin: 0;
    padding: 0;
}

.justificado input {
    display: block;
}

.justificado input[type="text"],
.justificado input[type="email"],
.justificado textarea {
    width: 100%;

    text-align: justify;
    box-sizing: border-box;
}



textarea {
    text-align: justify;
    white-space: normal;
}

.punto-inflamable,
.punto-muy-inflamable,
.es_explosivo_logo,
.solido-inflamable {
    /*margin-left: 10px;*/
    vertical-align: central;
    text-align: left;
}
.punto-muy-inflamable::after {
    display: inline-block;
    background-image: url('../img/liquido_muy_inflamable.png');
    background-size: 27px 27px;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    width: 27px;
    height: 27px;
    padding-left: 100px;
    margin-left: 5px;
    
    content: "";
}
.punto-inflamable::after {
    display: inline-block;
    background-image: url('../img/liquido_inflamable.png');
    background-size: 27px 27px;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    width: 27px;
    height: 27px;
    padding-left: 100px;
    /*margin-left: 5px;*/
    content: "";
}
    .solido-inflamable::after {
        display: inline-block;
        background-image: url('../img/solido_inflamable.png');
        background-size: 27px 27px;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
        width: 27px;
        height: 27px;
        padding-left: 100px;
        /*margin-left: 5px;*/
        content: "";
    }

.es_explosivo_logo::after {
    display: inline-block;
    background-image: url('../img/explosivo.png');
    background-size: 27px 27px;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    width: 27px;
    height: 27px;
    padding-left: 100px;
    /*margin-left: 5px;*/
    content: "";
}

.es_corrosivo_logo::after {
    display: inline-block;
    background-image: url('../img/corrosivo.png');
    background-size: 27px 27px;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    width: 27px;
    height: 27px;
    padding-left: 100px;
    /*margin-left: 5px;*/
    content: "";
}



.observador {
    float: left;
    /*border-radius: 2px;*/
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0;
    /*background-color: transparent !important;*/
    width: 23px;
    height: 23px;
    border: none;
    margin: 0 !important;
    /*margin-left: 10px !important;*/
    /*padding-left: 10px !important;*/
    margin-right: 5px !important;
    margin-top: 3px !important;
}

.observar,
.quitar {
    margin-top: 3px;
}

    .observar:before,
    .quitar:before {
        position: relative;
        top: -1px;
        left: -1px;
    }

    .observar:before {
        content: url(../../general/img/editar2.png);
    }

    .quitar:before {
        content: url(../../general/img/eliminar2.png);
    }

    .quitar:disabled,
    .observar:disabled {
        filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: gray;
        -webkit-filter: grayscale(100%);
    }

    .quitar:enabled {
        filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        filter: none;
        zoom: 1;
        -webkit-filter: grayscale(0%);
    }


.enviar,
.retornar {
    padding-left: 25px;
}

    .enviar:before,
    .retornar:before {
        position: absolute;
        top: 7px;
        left: 2px;
    }

    .enviar:before {
        content: url(../../ensayoEficacia/img/enviar.png);
    }

    .retornar:before {
        content: url(../../ensayoEficacia/img/retornar.png);
    }

.observacionRealizada {
    color: red;
}

.documento {
    padding-left: 34px;
}

    .documento:before {
        position: absolute;
        top: 2px;
        left: 5px;
    }

    .documento:before {
        content: url(../../general/img/documento.png);
    }

.observacionRealizada,
.observacionRecuperada {
    float: left;
    position: relative;
    width: calc(100% - 2*1em - 60*1px);
    margin-left: 12px;
    margin-top: 3px;
}

.observacionRealizadaVer {
    color: red;
}

.observacionRealizadaVer,
.observacionRealizadaVer {
    float: left;
    position: relative;
    width: calc(100% - 1*1em - 1*1px);
    margin-top: 3px;
    /*margin-left: 5px;*/
}

.observacion-comentario {
    width: 95%;
    margin: 0;
    padding: 0;
    background: rgb(230, 236, 236);
    box-shadow: 0px 0px 10px black;
    border-radius: 3px;
    box-sizing: border-box;
    overflow: hidden;
}

    .observacion-comentario > * {
        margin: 3px 3px 3px 3px;
    }

    .observacion-comentario button {
        margin: -3px 0px 0px 3px !important;
        /*width: 20% !important;*/
    }

    .observacion-comentario.continuacion {
        float: left;
    }

    .derecha{
        float:right;
    }

.verticalPadre {
    text-align: left;
    height: 40px;
    
}

.verticalHijo {
    display: inline-block;
    height:auto;
    width: 100%;
    margin: 0 auto;
}


