.lblEstado {
    margin-right: 25px;
}

#loadingImage {
    position: absolute;
    width: 48px; /*image width */
    height: 48px; /*image height */
    left: 50%;
    top: 75px;
    margin-left: -24px; /*image width/2 */
    margin-top: -24px; /*image height/2 */
}

textarea {
    overflow: auto;

}

a:after {
    content: "";
}

.legendBusqueda{
    background-color: rgba(0, 0, 0, .2);

}

#_labfinalenvio
{
    background-image: url('../img/finalizar.png');
}

#_solusuario
{
    background-image: url('../img/agregar_usuarios.png');
}
#_solmultiusuario
{
    background-image: url('../img/solicitud_multiusuario.png');
}
#_labordentrabajo
{
    background-image: url('../img/ordentrabajo.png');
}
#_labetiquetas
{
    background-image: url('../img/etiquetas.png');
}
#_labrmuestras
{
    background-image: url('../img/muestras.png');
}

#_labnotificar
{
    background-image: url('../img/notificacion.png');
}
#_labinformes
{
    background-image: url('../img/informes.png');
}
#_labmuestras
{
    background-image: url('../img/almacenar.png');
}
#_cronogramaPostregistro
{
    background-image: url('../img/cronograma.png');

}
.btnelinarreq{
    background-color: #000 !important;
}

.fieldsetInterna {
    padding: 25px 10px 10px 3px;
    position: relative;
    text-align: left;
    margin-bottom: 5px;
    border: 1px solid #BBB;
    margin-left: auto;
    margin-right: auto;
    border-top-color: white;
    border-left-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: rgba(255, 255, 255, .5);
    font-size: 0;
}

.legendInterna {
    position: absolute;
    top: 5px;
    left: 0px;
    background-color: rgba(231, 233, 237, .5);
    font-size: 10.4px;
    width: inherit;
    color: black;
    font-weight: bold;
    font-style: normal;
    padding: 0px 3px 3px 3px;
    border-left: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

label {
    padding-right: 5px;
    vertical-align: middle;
}

#ayudaMuestrasFA{
    display: block;
    margin-top: 30px;
    height: 130px;
    background-image: url('../img/ayuda/formato_exel_FA.jpg');
    background-repeat: no-repeat;
    background-position-y: 30px;
}

#__verificarMuestras{
    background: url('../img/menu/verificar.png') center left no-repeat;
    -webkit-background-size: 15%;
    -moz-background-size: 15%;
    -o-background-size: 15%;
    background-size: 15%;
}

#__analizarMuestras{
    background: url('../img/menu/analizar.png') center left no-repeat;
    -webkit-background-size: 15%;
    -moz-background-size: 15%;
    -o-background-size: 15%;
    background-size: 15%;
}

#__validarInformacion{
    background: url('../img/menu/aprobar.png') center left no-repeat;
    -webkit-background-size: 15%;
    -moz-background-size: 15%;
    -o-background-size: 15%;
    background-size: 15%;
}

#__consolidarInformes{
    background: url('../img/menu/informes.png') center left no-repeat;
    -webkit-background-size: 15%;
    -moz-background-size: 15%;
    -o-background-size: 15%;
    background-size: 15%;
}

#__legalizarInformes{
    background: url('../img/menu/firmar.png') center left no-repeat;
    -webkit-background-size: 15%;
    -moz-background-size: 15%;
    -o-background-size: 15%;
    background-size: 15%;
}

#__enviarInformes{
    background: url('../img/menu/enviar.png') center left no-repeat;
    -webkit-background-size: 15%;
    -moz-background-size: 15%;
    -o-background-size: 15%;
    background-size: 15%;
}

#descarga{
    background-color: #459A00;
    color: #fff;
    padding: 10px;
    font-weight: bolder;
    font-size: medium;
}
#descarga a{
    padding-left: 10px;

}

.bntGrid{
    padding: 8px;
    margin: 2px auto;
}

#cajaMexterno{
    min-width: 200px;
    min-height: 200px;
    padding: 10px;
}

#cajaMexterno p { line-height: 1.2; font-size: 1em }