@CHARSET "UTF-8";

	pre{
        white-space: pre-wrap;
    }
    

@media only screen {

    
	/********************************ESTILOS GENERALES*/
	html,body,header {
		height: 100%;
	}
	#envolver {
		min-height: 100%;
	}
	#main {
		overflow: auto;
		padding-bottom: 100px;
	}
	body {
		font-family: "lucida sans", arial, sans-serif;
		background-image: url(../img/back.png);
		padding: 0px;
		margin: 0px;
		font-size: .78em;
		color: #635B53;
		overflow-x: hidden;
	}
	#paginabusqueda {
		padding-left: 230px;
		margin: 0px;
		padding-left: 230px;
		font-size: small;
		font-family: 'Open Sans', "Segoe UI", sans-serif;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-shadow: 0px 8px 10px -8px #666 inset;
		overflow: auto;
	}
	#busqueda {
		background-image: -ms-linear-gradient(top left, #DDDDDD 0%, #F8F8F8 50%, #DDDDDD 100%);
		background-image: -moz-linear-gradient(top left, #DDDDDD 0%, #F8F8F8 50%, #DDDDDD 100%);
		background-image: -o-linear-gradient(top left, #DDDDDD 0%, #F8F8F8 50%, #DDDDDD 100%);
		background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #DDDDDD),
			color-stop(0.5, #F8F8F8), color-stop(1, #DDDDDD) );
		background-image: -webkit-linear-gradient(top left, #DDDDDD 0%, #F8F8F8 50%, #DDDDDD 100%);
		background-image: linear-gradient(to bottom right, #DDDDDD 0%, #F8F8F8 50%, #DDDDDD 100%);
	}
	fieldset,legend,table,#ui-datepicker-div,#resultado, div.imp, div.exp {
		border-radius: 5px;
		padding: 10px;
	}
	fieldset {
		margin: auto;
		margin-top: 20px;
	}
	
	#resultados fieldset{
		width: 50%;
		border: 3px solid rgba(31, 73, 112, .9);
	}
	
	#confirmar fieldset {
		width: 318px;
		border: 3px solid rgba(31, 73, 112, .9);
	}
	
	fieldset legend {
		padding: 3px 15px;
		text-transform: uppercase;
	}
	#busqueda fieldset legend {
		color: rgb(4, 4, 4);
		margin: auto;
		box-shadow: 0 0 0 1px rgba(4, 4, 4, .35);
	}
	#resultados fieldset legend,thead {
		background: #1F497D;
		color: #fff; /*color texto*/
	}
	table {
		width: 100%;
		margin: auto;
		/*border: 3px solid rgba(31, 73, 112, .9);*/
		text-align: center;
		padding: 0;
	}
	
	#tablaOrdenPago tbody tr:nth-child(2n) {
		background: rgba(31, 73, 112, .2);
	}
	#resultados tbody tr:hover {
		/*background-color: rgb(255, 221, 0) !important;*/
	}
	#resultados {
		padding: 10px;
		margin: 0px;
	}
	h1 {
		font-family: 'Poiret One', "Segoe UI", sans-serif;
		text-transform: uppercase;
		border-bottom: 2px solid rgba(31, 73, 112, 1);
	}
	a,a:hover {
		text-decoration: none;
	}
	#logo,#content,#footer,#header {
		margin-left: auto;
		margin-right: auto;
	}
	header,body>footer {
		background-image: -ms-linear-gradient(top left, #DDDDDD 0%, #F8F8F8 50%, #DDDDDD 100%);
		background-image: -moz-linear-gradient(top left, #DDDDDD 0%, #F8F8F8 50%, #DDDDDD 100%);
		background-image: -o-linear-gradient(top left, #DDDDDD 0%, #F8F8F8 50%, #DDDDDD 100%);
		background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #DDDDDD),
			color-stop(0.5, #F8F8F8), color-stop(1, #DDDDDD) );
		background-image: -webkit-linear-gradient(top left, #DDDDDD 0%, #F8F8F8 50%, #DDDDDD 100%);
		background-image: linear-gradient(to bottom right, #DDDDDD 0%, #F8F8F8 50%, #DDDDDD 100%);
	}
	header {
		width: 100%;
		border-bottom: 4px solid #00c6f0;
	}
	#logo {
		width: 950px;
		height: 125px;
		position: relative;
		background: transparent url(../img/logo.png) no-repeat right;
		animation-name: logo;
		-webkit-animation-name: logo;
		animation-duration: 1s;
		-webkit-animation-duration: 1s;
		animation-timing-function: ease-in-out;
		-webkit-animation-timing-function: ease-in-out;
		visibility: visible !important;
	}

    #logo h1,#logo h2 {
        font: normal 300% 'century gothic', arial, sans-serif;
        border-bottom: 0;
        text-transform: none;
        margin: 0 0 0 9px;
    }

    #logo_text h1 a .logo_colour {
        color: #B8BD20;
    }

    #logo_text a:hover .logo_colour {
        color: #777;
    }

    #logo h1 {
        font-size: 225%;
        padding: 22px 0px 0px 0px;
        color: #777;
    }

    #logo h2 {
        font-size: 120%;
        padding: 4px 0px 0px 0px;
        color: #BBB;
    }

    #logo a {
        border: none;
    }

    h3 {
        font-family: 'Poiret One', "Segoe UI", sans-serif;
        text-transform: uppercase;
        border-bottom: 2px solid rgba(31, 73, 112, 1);
    }


    ul { /*border: 1px solid blue;*/
        padding: 0px;
    }

    li { /*border: 1px solid red;*/
        list-style: none;
    }

    a {
        color: inherit;
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0);
    }

    nav a {
        text-decoration: none;
    }

    /*a:after {
        content: "→";
    }*/
    nav a:after {
        content: "";
    }

    label {
        font-weight: bold;
    }

#cargando {
        padding-top: 40px;
        text-align: center;
        /* Firefox */
        display: -moz-box;
        -moz-box-pack: center;
        -moz-box-align: center;
        /* Safari, Chrome, and Opera */
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        /* W3C */
        display: box;
        box-pack: center;
        box-align: center;
        position: absolute;
        color: white;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, .75)      
        no-repeat;
        z-index: 50;
    }

    .acerca {
        color: #afafaf;
        text-align: center;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        font-size: x-small;
        text-shadow: -1px -1px white;
    }

    .acerca p {
        margin: 0px;
    }

    #busqueda {
        border: 1px solid white;
        width: 180px;
        margin: 10px;
        padding: 10px;
        background-color: rgba(0, 0, 0, .1);
        box-shadow: 0 0 8px #666;
        position: fixed;
        left: 10px;
        top: -20px
    }

    #busqueda:before {
        content: "";
        display: block;
        height: 80px;
        background: /*url('../img/MAG-ICO.png') left 10px no-repeat,*/
        url('../img/AGR-ICO.png') center 10px no-repeat;
    }

    #busqueda td {
        text-align: center;

    }

    /************************************ESTILOS ESPECIFICOS*/
    input,button {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    
    .botonTama {
		    width: 100px;
		    margin:auto;
		    text-align: center;
    }
    .tconfirm{
		width: 100%;
		margin: auto;
		/*border: 3px solid rgba(31, 73, 112, .9);*/
		text-align: center;
	}
     .tleft{
		width: 100%;
		margin: auto;
		/*border: 3px solid rgba(31, 73, 112, .9);*/
		text-align: left;

	}
     .talert{
		width: 318px;
		/*border: 3px solid rgba(31, 73, 112, .9);*/
	}
    #content {
        width: 100%;
        margin-top: 10px;
        overflow: hidden;
    }

    /*Contenedor Flex*/
    .flex-container {
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
    }

    .flex-item {
        margin: 25px;
        opacity: 0.7;
        border: 10px solid #eee;
        background: #eee;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        width: 201px;
        -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    .flex-item:hover {
        opacity: 1;
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(-7deg);
        -o-transform: rotate(-7deg);
    }

    .flex-item>footer {
        color: black;
        /*background: rgba(126,126,126,.1);*/
        font-weight: bold;
        font-size: 1.1em;
        text-align: center;
        font-variant: small-caps;
    }

    /*Footer fondo, color links, color links presionados*/
    body>footer {
        position: relative;
        margin-top: -100px;
        height: 70px;
        clear: both;
        width: 100%;
        font-family: sans-serif;
        font-size: 90%;
        text-align: center;
        padding: 20px 0px 6px 0px;
        color: #333;
        border-top: 4px solid #A4AA04;
        /* color tope verde #A4AA04   azul #00c6f0   */
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    body>footer a {
        color: #000;
        border-bottom: 1px dotted;
        color: #635B53;
    }

    body>footer a:hover {
        color: #009;
        border-bottom: 1px solid;
        color: #A4AA04;
        text-decoration: none;
    }

    /**********************************ULTIMO*/



    div.imp{
        background-color: rgba(10,90,20,.75) !important;
        color: #ffffff;
    }

    div.exp{
        background-color: rgba(26,89,148,.75) !important;
        color: #ffffff;
    }

    .Vigente{
        font-weight: bold;
    }

    td{
        padding: 5px;
    }

    td.requisito{
        text-align: left;
    }

    .no_salto{
        white-space: pre;
    }

    #resultado {
        background-color: rgba(0, 0, 0, .5);
        color: white;
        padding: 2px;
        margin-bottom: 10px;
        text-align: center;
    }

    /*********************************RESOLUCION***************************/
    #resolucion {
        margin: 15px auto;
        padding: 15px;
        max-width: 700px;
        font-family: monospace;
        font-size: medium;
        background-color: rgba(255, 255, 255, .75);
        background-color: rgba(0, 0, 0, .05);
        box-shadow: 1px 1px 5px black;

    }

    #resolucion>header {
        text-align: center;
        background: transparent;
        padding-bottom: 10px;
    }

    #resolucion>header>#detalle {

    }
    
		border: 3px
    #resolucion>header>#nombre {
        margin: 5px;
        font-size: large;
        font-weight: bold;
    }

    #resolucion>header>#estado {
        text-transform: capitalize;
    }

    #resolucion>header>#estado:BEFORE {
        content: "(Estado: ";
    }

    #resolucion>header>#estado:AFTER {
        content: ")";
    }

    #resolucion>section div {
        margin-top: 20px;
        text-align: justify;
    }

    #resolucion>section div  .nombre_seccion {
        font-weight: bolder;
        text-decoration: underline;
        padding-right: 5px;
        display: none;
    }

    #resolucion>section .Artículo>.nombre_seccion {
        display: inline;
    }

    #resolucion>section .Artículo>.nombre_seccion:AFTER {
        content: ":";
    }

    .detalleImpreso{
        font-weight: bold;
    }
    
}



/*******************************FIN:RESOLUCION*************************/